<% provide(:title, "Edit user") %>
<% provide(:buttom_text, 'Save changes') %>

<h1><%= I18n.t"bookshelf.page.titles.Update profile" %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-3 mx-auto">
    <% unless @user.email == "test@gmail.com" %>
      <%= render 'form', url: user_path %>
      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank"><%= I18n.t"bookshelf.page.parts.change" %></a>
      </div>
    <% else %>
      <div class="jumbotron">
        <h2 class="info"><%= I18n.t"bookshelf.page.parts.test user no use" %></h2>
      </div>
    <% end %>
  </div>
</div>