<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <input placeholder= <%= I18n.t"bookshelf.page.parts.Book title" %> type="text" name="book[title]" id="book_title">
    <textarea placeholder= <%= I18n.t"bookshelf.page.parts.book coment" %> name="book[content]" id="book_content"></textarea>
  </div>
  <input type="submit" name="commit" value= <%= I18n.t"bookshelf.page.parts.Post" %> class="btn btn-primary" data-disable-with= <%= I18n.t"bookshelf.page.parts.post" %> >
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#book_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>