<div class="book" id="book-<%= book.id %>">
  <span class="content">
  <% if book.picture? %>
      <%= link_to image_tag book.picture.url, book, data: {"turbolinks" => false} %>
    <% else %>
      <%= link_to image_tag('sm.jpg'), book, data: {"turbolinks" => false} %>
  <% end %>
  </span>
  <% if current_user?(book.user) %>
    <span class="title"><%= book.title %></span>
  <% else %>
    <span class="title text-primary"><%= book.title %></span>
  <% end %>
  <span class="timestamp">
      <%# 時間表示 %>
    | <%= Book.human_attribute_name(:posted) %> <%= time_ago_in_words(book.created_at) %> <%= Book.human_attribute_name(:ago) %> |
    <% if current_user?(book.user) %>
      <%= link_to "削除", book, method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</div>
