<div class="book" id="book-<%= book.id %>">
  <span class="content">
  <% if book.picture? %>
      <%= link_to image_tag book.picture.url, book, data: {"turbolinks" => false} %>
    <% else %>
      <%= link_to image_tag('sm.jpg'), book, data: {"turbolinks" => false} %>
  <% end %>
    <%= book.title %>
  </span>
  <span class="timestamp">
      <%# 時間表示 %>
    | <%= Book.human_attribute_name(:posted) %> <%= time_ago_in_words(book.created_at) %> <%= Book.human_attribute_name(:ago) %> |
    <% if current_user?(book.user) %>
      <%= link_to "delete", book, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</div>
