<h1><%= I18n.t"bookshelf.page.titles.Update book" %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-3 mx-auto">
    <% unless @book.user.email == "test@gmail.com" %>
      <%= form_for(@book) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>

        <input type="submit" name="commit" value= <%= I18n.t"bookshelf.page.parts.Save changes" %> class="btn btn-primary" data-disable-with= <%= I18n.t"bookshelf.page.parts.post" %>>
      <% end %>
    <% else %>
      <div class="jumbotron">
        <h2 class="info"><%= I18n.t"bookshelf.page.parts.test user no use" %></h2>
      </div>
    <% end %>
  </div>
</div>

